# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local

# Vercel
.vercel

# Operating System
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/

# Build outputs
dist/
build/
